*{
    margin:0;
}

body{
    width: 100%;
    height: 720px;
   background: white;
   
  
}



header,main,footer{
    position: relative;
    transition: background .5s ease-in-out;
    display: block;
}
 
main {
    height: 500px;
    width: fit-content;
    margin: 0 auto;
}


footer{
    margin-top: 100px;
    text-align: center;
    background: white;
}

.logo{
    display: block;
    margin: auto;
    width: 100px;
  margin-top: 50px;
 
    
}

.politicsText{
    /* Politicas de Calidad */


text-align: center;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #696A9F;
}

.footer{
    position: fixed;
    bottom:0;
    height: 50px;
    width: 100%;
    background-image: url('../../data/img/footerBase.png');
    background-size: cover;
}